<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/axios.min.js"></script>


    <link rel="stylesheet" href="components/tree.css">
    <link rel="stylesheet" href="components/vue-multiselect.min.css">

    <script src="components/navbar-strateg.js"></script>
    <script src="components/tree.js"></script>
    <script src="components/table-strategies.js"></script>
    <script src="components/table-comparison.js"></script>
    <script src="components/vue-multiselect.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <navbar-strateg id="navbar" :active="active"></navbar-strateg>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="ml-auto">
                            Параметры поиска
                        </h5>
                        <div class="mb-3">
                            <label class="form-label">Поиск по названию стратегии:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Поиск по странам:</label>
                            <multiselect id="countries" v-model="value" closeOnSelect="false"
                                placeholder="Веберите опции..." :options="options" multiple="true"></multiselect>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Поиск по темам:</label>
                            <tree-menu id="tree-theme" :tree="options" :selected="value"></tree-menu>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Поиск по политичесским инструментам</label>
                            <tree-menu id="tree-polit" :tree="options" :selected="value"></tree-menu>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Фильтрация по дате
                                создания</label>
                            <div class="row">
                                <div class="col flex-center">
                                    <div class="mb-3">
                                        <label class="form-label">Начальная дата:</label>
                                        <input id="start-date" v-model="value" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col flex-center">
                                    <div class="mb-3">
                                        <label class="form-label">Конечная дата:</label>
                                        <input id="end-date" v-model="value" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Фильтрация по году
                                    разработки
                                    стратегии</label>
                                <div class="row">
                                    <div class="col flex-center">
                                        <div class="mb-3">
                                            <label class="form-label">Начальный год:</label>
                                            <input id="start-year" v-model="value" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col flex-center">
                                        <div class="mb-3">
                                            <label class="form-label">Конечный год:</label>
                                            <input id="end-year" v-model="value" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button id="search" class="btn btn-outline-primary" type="button">Выполнить
                                    поиск</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-body mb-3">
                            <h5 class="ml-auto">
                                Стратегии, отобранные по заданным критериям:
                            </h5>
                            <table-strategies @show="show" @pick="pick" id="table-strategies" :rows="rows">
                            </table-strategies>

                        </div>
                        <div class="card card-body mb-3">
                            <h5 class="ml-auto">
                                Выбранные для сравнения стратегии:
                            </h5>
                            <table-comparison @remove="remove" @compare="compare" id="table-comparison" :rows="rows"></table-comparison>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#navbar',
            data: function () {
                return {
                    active: "Стратегии",
                }
            },
            methods: {}
        });

        // TODO
        let countriesOptions = ["Россия", "Украина", "Ваканда", "Бразилия"];
        let countries = new Vue({
            el: '#countries',
            components: {
                Multiselect: window.VueMultiselect.default
            },
            data: function () {
                return {
                    value: [],
                    options: countriesOptions
                }
            }
        });

        // TODO
        let treeThemeOptions = {
            label: "Тематический классификатор",
            nodes: [],
        };

        // TODO
        let treePolitOptions = {
            label: "Классификатор политических инструментов",
            nodes: [{
                    label: "Governance",
                    nodes: [],
                },
                {
                    label: "Financial support",
                    nodes: [],
                },

                {
                    label: "Enablers and other incentives ",
                    nodes: [],
                },
                {
                    label: "Guidance and regulation ",
                    nodes: [{
                            label: "Regulatory oversight and ethical advice bodies",
                            nodes: [],
                        },
                        {
                            label: "Labour mobility regulation and incentives",
                            nodes: [],
                        },
                        {
                            label: "Standards for technology development",
                            nodes: [],
                        },
                    ],
                },
            ],
        };

        let treeTheme = new Vue({
            el: '#tree-theme',
            data: function () {
                return {
                    options: treeThemeOptions,
                    value: [],
                }
            },
        });

        let treePolit = new Vue({
            el: '#tree-polit',
            data: function () {
                return {
                    options: treePolitOptions,
                    value: [],
                }
            },
        });

        let startDate = new Vue({
            el: '#start-date',
            data: function () {
                return {
                    value: [],
                }
            },
        });

        let endDate = new Vue({
            el: '#end-date',
            data: function () {
                return {
                    value: [],
                }
            },
        });

        let startYear = new Vue({
            el: '#start-year',
            data: function () {
                return {
                    value: [],
                }
            },
        });

        let endYear = new Vue({
            el: '#end-year',
            data: function () {
                return {
                    value: [],
                }
            }
        });

        let tableComparisonData = [];

        let tableComparison = new Vue({
            el: '#table-comparison',
            data: function () {
                return {
                    rows: tableComparisonData,
                }
            },
            methods: {
                remove(e) {
                    this.rows = this.rows.filter(function (value, index, arr) {
                        return value == e;
                    });
                    console.log(e)
                },

                compare(e) {
                    console.log(this.rows)
                },
            }
        });

        ///////////// MAIN TABLE /////////////
        let tableStrategiesData = [{
                date: "fsdfsd",
                filename: "dafsdf",
                strategyName: "fsdfsfd",
                country: "dfsdf",
                year: "fsdfsdf"
            },
            {
                date: "fsdfsd",
                filename: "dafsdf",
                strategyName: "fsdfsfd",
                country: "dfsdf",
                year: "fsdfsdf"
            },
            {
                date: "fsdfsd",
                filename: "dafsdf",
                strategyName: "fsdfsfd",
                country: "dfsdf",
                year: "fsdfsdf"
            }
        ];
        let tableStrategies = new Vue({
            el: '#table-strategies',
            data: function () {
                return {
                    rows: tableStrategiesData,
                }
            },
            methods: {
                pick(e) {
                    tableComparison.rows.push(e);
                },
                show(e) {
                    alert(e)
                }
            }
        });

        // TODO
        // SHOW BTN
    </script>
</body>

</html>