<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/vue.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/axios.min.js"></script>

    <script src="components/navbar-strateg.js"></script>


    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <navbar-strateg id="navbar" :active="active"></navbar-strateg>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-body">
                <div id="settings">
                    <div v-for="setting in settings" class="row mb-3">
                        <div class="col-md-8">
                            <h6>{{setting.title}}</h6>
                        </div>
                        <div class="col-md-4">
                            <input type="text" v-model="setting.value">
                        </div>
                    </div>
                    <button id="search" @click="save" class="btn btn-outline-primary" type="button" style="width: 100%;">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#navbar',
            data: function () {
                return {
                    active: "Настройки",
                }
            },
            methods: {}
        });

        // TODO
        let settingsOptions = [{
                title: "Пороговое значение схожести строк при удалении дублей",
                value: "0.8"
            },
            {
                title: "sdfsdf",
                value: "44"
            },
        ]

        let settings = new Vue({
            el: '#settings',
            data: function () {
                return {
                    settings: settingsOptions
                }
            },
            methods: {
                save() {
                    // TODO
                    console.log(this.settings)
                }
            }
        });
    </script>
</body>

</html>